@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000000;
  color: white;
  font-family: 'Inter';
  overflow: hidden;
  height: 100vh;
}

.header__squares span {
  position: absolute;
  height: 190px;
  opacity: 0.2;
  transform: skewY(140deg);
}

.header__squares :first-child {
  width: 20%;
  top: 20%;
  right: 5%;
  background: #8732a1;
}

.header__squares :nth-child(2) {
  width: 20%;
  top: 40%;
  right: 10%;
  background: #bdff00;
}

.header__squares :nth-child(3) {
  width: 20%;
  top: 57%;
  right: 15%;
  background: #bdff00;
}

/* .header__squares :nth-child(4) {
  width: 20%;
  top: 80%;
  right: 20%;
  background: #8732a1;
} */

/* .header__squares :nth-child(5) {
  width: 20%;
  top: 100%;
  right: 25%;
  background: #a80aa7;
} */

.header__squares :nth-child(6) {
  width: 20%;
  top: 20%;
  right: 0%;
  background: #bdff00;
}

.header__squares :nth-child(7) {
  width: 20%;
  top: 40%;
  right: 5%;
  background: #8732a1;
}

.header__squares :nth-child(8) {
  width: 20%;
  top: 57%;
  right: 10%;
  background: #a80aa7;
}

/* .header__squares :nth-child(9) {
  width: 20%;
  top: 80%;
  right: 15%;
  background: #8732a1;
} */
/* 
.header__squares :nth-child(10) {
  width: 20%;
  top: 100%;
  right: 20%;
  background: #a80aa7;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
